.idea/
.venv/
__pycache__/
*.pyc

frontend/node_modules/
frontend/dist/
frontend/.env

backend/.env
backend/.pytest_cache/
backend/pytest-cache-files-*/
backend/app/ml/weights/*.pt
backend/ml_training/downloads/
backend/ml_training/rdd2022_raw/
backend/ml_training/dataset_yolo/
backend/ml_training/runs/
yolov8n.pt
