# Web framework
fastapi
uvicorn[standard]
python-multipart

# Config
pydantic-settings
email-validator

# Database
sqlalchemy[asyncio]
alembic
asyncpg
psycopg2-binary

# Auth
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]

# ML
ultralytics
onnxruntime
Pillow
opencv-python-headless

# Reports
reportlab

# Testing
pytest
pytest-asyncio
httpx
aiosqlite
